:root {
    --black-currant: #0A0D25;
    --coral: #ff844b;
    --oyster-bay: #e3edf2;
    --french-pass: #9fc9dd;
    --hippie-blue: #4e7d96;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

.upper-nav {
    background: var(--black-currant);
    width: 100%;
    height: 54px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation-section {
    display: flex;
    justify-content: flex-end;
    justify-items: flex-end;
    margin-left: 750px;
    align-items: center;
}

.nav-elements {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;

}

.nav-elements li > a {
    text-decoration: none;
    color: var(--oyster-bay);
    padding: 20px;
    justify-items: end;
    font-weight: bold;
}

.logo {
    width: 110px;
    height: 50px;
    margin-left: 40px;
    justify-items: flex-start;
}

.user-icon {
    width: 35px;
    height: 35px;
    margin-right: 80px;
    margin-top: 6px;
}

.run-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--black-currant);
    padding: 5px 25px;
    font-weight: bold;
    background-color: var(--coral);
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 50px;
} 

.save-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--black-currant);
    padding: 5px 20px;
    font-weight: bold;
    background-color: var(--french-pass);
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.code-area {
    display: flex;
    width: 100%;
    height: calc(100vh - 105px);
    margin: 0%;
}

.code-input {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 500px;
    background-color: var(--oyster-bay);
}

.code-input > textarea {
    width: 100%;
    height: 33.33%;
    font-size: 18px;
    font-weight: bold;
}

.code-output {
    width: calc(100% - 500px);
    height: calc(100% -20px);
    border-left: 15px solid var(--oyster-bay);
    border-right: 10px solid var(--oyster-bay);
    border-top: 5px solid var(--oyster-bay);
    border-bottom: 5px solid var(--oyster-bay);
    display: flex;
    flex-direction: column;
    justify-items: normal;
}

.code-area .code-output #output{
    width: 100%;
    height: 100%;
    border: 1px solid var(--black-currant);
    border-radius: 5px;
}

.lower-nav {
    width: 100%;
    height: 51px;
    background: var(--black-currant);
}

.lower-nav > button {
    color: var(--black-currant);
    padding: 5px 20px;
    font-weight: bold;
    background-color: var(--french-pass);
    font-size: 14px;
    margin: 12px 10px 10px 20px;
    border-radius: 5px;
    border: none;
}

.ace_editor {
    width: 100%;
    height: 33.33%;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid var(--black-currant);
    margin-bottom: 5px;
    margin-top: 0px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.html-label {
    height: 30px;
    margin: 0%;
    background-color: var(--black-currant);
    width: max-content;
    padding-right: 15px;
    border-top-right-radius: 5px;
    margin-top: 3px;
}

.html-label > p {
    font-weight: bold;
    font-size: 18px;    
    color: orangered;
    margin-top: 6px;
    margin-left: 10px;
}

.css-label {
    height: 30px;
    margin: 0%;
    background-color: var(--black-currant);
    width: max-content;
    padding-right: 15px;
    border-top-right-radius: 5px;
    margin-top: 3px;
}

.css-label > p {
    font-weight: bold;
    font-size: 18px;    
    color: lightskyblue;
    margin-top: 6px;
    margin-left: 10px;
}

.js-label {
    height: 30px;
    margin: 0%;
    background-color: var(--black-currant);
    width: max-content;
    padding-right: 15px;
    border-top-right-radius: 5px;
    margin-top: 3px;
}

.js-label > p {
    font-weight: bold;
    font-size: 18px;    
    color: yellow;
    margin-top: 6px;
    margin-left: 10px;
}

.console-div {
    width: 100%;
    height: 20%;
    display: none;
    flex-direction: column;
    margin-bottom: 0%;
    border:1px solid var(--black-currant);
    border-top: none;
}

.console-div .console-nav {
    display: flex;
    height: 20px;
    background-color: var(--french-pass);
    display: flex;
    justify-content: space-between;

}

.console-div .console-nav > p {
    font-size: 14px;
    font-weight: bold;
    margin-top: 2.5px;
    margin-left: 10px;
    color: var(--black-currant);
}

.console-div .console-nav .console-close-btn {
    height: 12px;
    width: 12px;
    margin-right: 10px;
    margin-top: 4px;
}

.console-div #console {
    width: 100%;
    height: 100%;
    border: none;
    margin-bottom: 0px;
    background-color: #222;
    color: var(--oyster-bay);
}

.console-div #console .console-message {
    margin: 5px 10px;
    font-size: 14px;
    font-weight: lighter;
}