@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.header .logo {
    height: 70px;
    width: 100px;
    margin: 10px 40px;
}

.header .cancel {
    height: 25px;
    width: 25px;
    margin: 30px 30px;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
    width: 100%;
}

.login {
    border: 1px solid black;
    border-radius: 15px;
    width: fit-content;
    width: 600px;
    height: 600px;
    background-color: white;
}

.login-form .login .form {
    padding: 45px;
    height: 600px;
}

.form .heading {
    font-size: 36px;
    font-weight: normal;
    color: black;
    margin-bottom: 0px;
    margin-top: 20px;
}

.form label {
    font-size: 20px;
    color: black;
    margin-bottom: 20px;
    margin-top: 25px;
}

.input-control {
    margin-bottom: 20px;
}

.input-control input {
    width: 498px;
    height: 45px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 16px;
    padding-left: 15px;
}

.input-control input:focus {
    outline: 0;
    border-color: #AB99FF;
}

.input-control.success input {
    border-color: green;
}

.input-control.error input {
    border-color: red;
}

.input-control .error {
    color: red;
    font-size: 14px;
    height: 15px;
    margin: 5px;
}

.form .log-in-btn {
    width: 510px;
    height: 60px;
    background-color:#AB99FF;
    border: 1px solid #AB99FF;
    border-radius: 50px;
    color: black;
    font-size: 20px;
    font-weight:600;
    margin-top: 10px;
    margin-bottom: 20px;
    align-items: center;
}

.form > p{
    text-align: center;
    margin-top: 10px;
    font-size: 16px;
}
