:root {
    --black-currant: #0A0D25;
    --coral: #ff844b;
    --oyster-bay: #e3edf2;
    --french-pass: #9fc9dd;
    --hippie-blue: #4e7d96;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.header .logo {
    height: 60px;
    width: 60px;
    margin: 10px 20px;
}

.header .cancel {
    height: 25px;
    width: 25px;
    margin: 30px 30px;
}

.sign-up-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 60px);
    width: 100%;
}

.sign-up {
    border: 1px solid var(--black-currant);
    border-radius: 15px;
    width: fit-content;
    width: 600px;
    height: 650px;
    background-color:#e3edf2;
}

.sign-up-form .sign-up .form {
    padding: 45px;
    height: 650px;
}

.form .heading {
    font-size: 36px;
    font-weight: normal;
    color: var(--black-currant);
}

.form label {
    font-size: 20px;
    color: var(--black-currant);
    margin-bottom: 20px;
    margin-top: 25px;
}

.input-control {
    margin-bottom: 20px;
}

.input-control input {
    width: 498px;
    height: 45px;
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid var(--black-currant);
    font-size: 16px;
    padding-left: 15px;
}

.input-control input:focus {
    outline: 0;
    border-color: #ff844b;
}

.input-control.success input {
    border-color: green;
}

.input-control.error input {
    border-color: red;
}

.input-control .error {
    color: red;
    font-size: 14px;
    height: 15px;
    margin: 5px;
}

.form .sign-up-btn {
    width: 510px;
    height: 60px;
    background-color: #ff844b;
    border: 1px solid #ff844b;
    border-radius: 50px;
    color: #0A0D25;
    font-size: 20px;
    font-weight:600;
    margin-top: 10px;
    margin-bottom: 15px;
    align-items: center;
}

.form > p{
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
}

.form .pwd-rules {
    display: flex;
    margin-top: -15px;
    margin-bottom: 20px;
    font-size: 15px;
    list-style: circle;
}

.form .left {
    list-style: none;
    margin-left: 10px;
}

.form .left li::before {
    content: "\2022";
    color: #4e7d96;
    width: 1em;
    font-weight: bold;
    margin-left: -1em;
    display: inline-block;
}

.form .right {
    list-style: none;
    margin-left: 10px;
}

.form .right li::before {
    content: "\2022";
    color: #4e7d96;
    width: 1em;
    font-weight: bold;
    margin-left: -1em;
    display: inline-block;
}